section#contact-info {
  font-size: 0.8em;
}

section.job {
  padding: 20px 20px;
  background-color: #e9e5dc;
  border-radius: 25px;
  margin-bottom: 2%;
 }

 .volunteer-gig > ul li { font-size: 1.1em; }

 .lists {
 	font-size: 0.8em;
 }

.pseudoselector:focus {
	color: green;
	background-color: black;
	padding: 10px;
}


 