section#contact-info {
  font-size: 0.8em;
}

section.job {
  padding: 20px 20px;
  background-color: #e9e5dc;
  border-radius: 25px;
  margin-bottom: 2%;
 }

 .lists {
 	font-size: 0.8em;
 }


 